@import "tailwindcss";

@theme {
    --color-blue-light: #97DFFC;
    --color-blue-sky: #8EB5F0;

    --color-purple-light: #858AE3;
    --color-purple: #613DC1;
    --color-purple-dark: #4E148C;
    --color-purple-darker: #270A46;
    --color-purple-royalty: #6A4FB8;
    --color-purple-ultra-violet: #6347B8;
    --color-purple-night: #4B4E84;

    --color-background: #141414;
    --color-base-label: #8D8686;
    --color-base-hover: #D7D5D5;
    --color-base-button: #E6E5E5;
    --color-base-input: #EDEDED;
    --color-base-card: #F3F2F2;
    --color-base-white: #F6F6F6;

    --font-inter: "Inter", sans-serif;
    --font-quicksand: "Quicksand", sans-serif;
}